<div id="building" class="tab-pane fade in active" style="text-align:center;">
    <h3>Add Building</h3>
    <br/>
    <br/>
    <form>

        <p>
        <label>Site: </label><br/>
        <select name="site" id="site" ng-model="form.site" style="width:175px; height:30px; border-radius: 5px">
            <option ng-repeat="option in form.site" value=" {{option.id}} ">site 1</option>
        </select>
        </p>
        <br>

        <p>
        <label>New Building ID: </label><br/>
        <input type="text" ng-model="form.buildingid" name="buildingID" placeholder="Building ID" style="text-align:center; width:200px;">
        </p>
        <br>

        <p>
        <label>New Building Name: </label><br/>
        <input type="text" ng-model="form.buildingname" name="buildingName" placeholder="Building Name" style="text-align:center; width:200px;">
        </p>
        <br>

        <br/>
        <button type="submit" ng-click="onBuildingCreate()" class="btn btn-success" style="margin-right: 20px">Submit
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="reset" class="btn btn-danger" style="margin-left: 20px">Cancel
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        
    </form>
</div>
