<div id="floorplan" class="tab-pane fade in active" style="text-align: center">
    <h3>Add Floorplan</h3>
    <br/>
    <br/>
    <form ng-submit="">
        <label>Site List: </label><br/>
        <select name="siteList" style="width:175px; height:30px; border-radius: 5px">
            <option>site 1</option>
            <option>site 2</option>
            <option>site 3</option>
            <option>site 4</option>
        </select>
        <br/>

        <br/>
        <label>Building Name List: </label><br/>
        <select name="buildingNameList" style="width:175px; height:30px; border-radius: 5px">
            <option>building 1</option>
            <option>building 2</option>
            <option>building 3</option>
            <option>building 4</option>
        </select>
        <br/>

        <br/>
        <label>New Floorplan ID: </label><br/>
        <input type="text",name="floorplanID" placeholder="Floorplan ID" style="text-align:center; width:200px;" ng-model="floorplan.floorplanID">
        <br/>

        <br/>
        <label>New Floorplan Name: </label><br/>
        <input type="text",name="floorplanName" placeholder="Floorplan Name" style="text-align:center; width:200px;" ng-model="floorplan.floorplanName">
        <br/>
        <br/>
        <br/>

        <input type='file' onchange="angular.element(this).scope().loadFile(this)" style="margin: 0 auto;"><br/>
        <img id="blah"/>
        <br/>
        <br/>
        <button class="glyphicon glyphicon-retweet" type="reset" value="Reset" style="width: 60px" ng-click="reset()"></button>

        <br/>
        <br/>
        
        <br/>
        <button type="submit" class="btn btn-success" style="margin-right: 20px">Submit
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="reset" class="btn btn-danger" style="margin-left: 20px">Cancel
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </form>
</div>

