<!-- <center><h1><b>TANAND TECHNOLOGY SDN BHD</b></h1></center> -->
<div class="container" style="margin-top:20px; position: relative; background-color: rgba(100, 100, 100, 0);">
  <ul class="nav nav-pills nav-justified" style="background-color: rgba(100, 100, 100, 0);">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" style="font-size:15px;">Add<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a data-toggle="pill" href="#site">Site</a></li>
        <li><a data-toggle="pill" href="#building">Building</a></li>
        <li><a data-toggle="pill" href="#floorplan" href="#/floorplan">Floor Plan</a></li>
        <li><a data-toggle="pill" href="#sensor" href="#/sensor">Sensor</a></li>
      </ul>
    </li>
    <li>
    <a class="dropdown-toggle" data-toggle="dropdown" style="font-size:15px;">Edit<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a data-toggle="pill" href="#site_edit">Site</a></li>
        <li><a data-toggle="pill" href="#build_edit">Building</a></li>
        <li><a data-toggle="pill" href="#floorplan_edit">Floor Plan</a></li>
        <li><a data-toggle="pill" href="#sensor_edit">Sensor</a></li>
      </ul>
    </li>
    <li><a data-toggle="pill" href="#register" href="#/register" style="font-size:15px;">Register</a></li>
    <li><a data-toggle="pill" href="#" href="#/" ng-click="logout()" style="font-size:15px;">Logout</a></li>
  </ul>
  <br>
</div>