<center><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" width="50" height="50" ng-show="loading"/></center>
<div id="site" class="tab-pane fade in active" style="text-align:center;"  ng-hide="loading">
    <h3>Add Site</h3>
    <br>

    <form method="post" id="geocoding_form">
        
        <p><label>New Site: </label><br/>
            <input type="text" ng-model="form.site" name="site" placeholder="New Site" style="text-align:center; width:200px;" autocomplete="off"></p>
        {{ form.site }}

        <div class="input">
            <label>Map Search: </label>&nbsp;
            <input type="text" id="address" name="address" placeholder="Input search criteria" style="text-align:center; width:200px;">&nbsp;&nbsp;
            <input type="submit" class="btn" value="Search">
            </div>

            <center><div id="map"></div></center><br>

        <p>
            <label>Latitude: </label>&nbsp;
            <input type="text" ng-model="form.latitude" name="latitude" placeholder="Latitude" style="text-align:center; width:200px;" autocomplete="off">&nbsp;&nbsp;&nbsp;
        {{ form.latitude }}
            <label>Longitude: </label>&nbsp;
            <input type="text" ng-model="form.longitude" name="longitude" placeholder="Longitude" style="text-align:center; width:200px;" autocomplete="off">
        </p>
        {{ form.longitude }}
        <p>
            <label>Address: </label><br/>
            <input type="text" ng-model="form.address" name="address" placeholder="Address" style="text-align:center; width:200px;" autocomplete="off">
        </p>
        {{ form.address }}
        
        <button type="submit" ng-click="onSiteSubmit()" class="btn btn-success" style="margin-right: 20px">Submit<span class="glyphicon glyphicon-ok"></span></button>
        
        <button type="reset" class="btn btn-danger" style="margin-left: 20px">Cancel<span class="glyphicon glyphicon-remove"></span></button>
        
    </form>
</div>
