<div id="site" class="tab-pane fade in active" style="text-align:center;">
    <h3>Edit Site</h3>
    <br>

    <form method="post" id="geocoding_form">
        
        <div class="row">
        <div class="col-md-6" style="border-right:2px solid #000;height:550px">

        <center>

        <p><label>Site: </label><br/>
        <select name="site" ng-model="form.site" style="width:200px; height:30px; border-radius: 5px" ng-change="showHiddenFields(form.site)">
            <option ng-repeat="option in site.availableOptions" value="{{option.ID}}">{{option.name}}</option>
        </select>
        </p>

        <div id="message">
        <p>
            <pre> {{ siteInfo }}</pre>
        </p>
        </div>

        <div ng-show="fieldsdiv">
        <p>
        <label>New Name: </label><br/>&nbsp;
            <input type="text" ng-model="form.sitename" name="latitude" placeholder="New name" style="text-align:center; width:200px;" autocomplete="off">
        </p>

        <p>
            <label>New Latitude: </label><br/>&nbsp;
            <input type="text" ng-model="form.latitude" name="latitude" placeholder="Latitude" style="text-align:center; width:200px;" autocomplete="off">
        </p>

        <p>
            <label>New Longitude: </label><br/>&nbsp;
            <input type="text" ng-model="form.longitude" name="longitude" placeholder="Longitude" style="text-align:center; width:200px;" autocomplete="off">
        </p>

        <p>
            <label>New Address: </label><br/>&nbsp;
            <input type="text" ng-model="form.address" name="address" placeholder="Address" style="text-align:center; width:200px;" autocomplete="off">
        </p>
        </div>

        <button type="submit" ng-click="onSiteEdit()" class="btn btn-success" style="margin-right: 20px">Submit<span class="glyphicon glyphicon-ok" ng-show="fieldsdiv"></span></button>

        <button type="submit" ng-click="onSiteDelete()" class="btn btn-danger" style="margin-right: 20px">Delete<span class="glyphicon glyphicon-remove"></span></button>
        
        <button type="reset" class="btn btn-danger" style="margin-left: 20px">Cancel<span class="glyphicon glyphicon-remove"></span></button>
        
        </center>
        
        
        </div>

        <div class="col-md-6">

        <div class="input">

        <label>Map Search: </label>&nbsp;
        <input type="text" id="address" name="address" placeholder="Input search criteria" style="text-align:center; width:200px;">&nbsp;&nbsp;
        <input type="submit" class="btn" value="Search">
        </div>

        <center><div id="map"></div></center><br>
        </div>

        </div>
        
    </form>
</div>
&nbsp;

